@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.kaushan-script-regular {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
    background-color: rgb(6, 197, 197);
}

header{
    background-color: rgba(24, 224, 231, 0.747);
    text-align: center;
    color: rgb(59, 110, 38);
    padding: 15px;
}

.logo{
    width:100px;
    height: auto;
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
    max-width: 100%;
    object-fit: contain;
}

.navbar{
    background-color:rgba(24, 224, 231, 0.747);
}

.logo-menu{
    width: 40px;
    height: auto;
    max-width: 100%;
    object-fit: contain;
}

.hero-section{
    background-image: url('../assets/img/imagem_principal.jpg');
    height: 900px;
    background-size: cover;
}

.features-section{
    padding: 20px;
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}